@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

.goldie {
  margin-left: auto;
  margin-right: auto;
}

.video-container {
  text-align:center;
}

video {
  border: 2px solid black;
  height: auto;
}

video::-webkit-media-controls {
    display:none !important;
}

.container {
  text-align: center;
}

.twitter {
  float: right;
}

div p {
  font-family: 'Great Vibes', cursive;
  font-size: 65px;
  text-align: center;
  margin: 10px 0 10px 0;
}

button {
  margin-top: 15px;
  width:200px;
  height:50px;
  background-color:#ffd700;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
}

body {
  background-color:#f2f2f2;
  position:relative;
}

footer {
  font-size: 12px;
  text-align: right;
  margin-top: 75px;
}

a {
  text-decoration: none;
}